body {
    font-family: 'Lato', sans-serif;
    color: var(--clr-dark-brown);
}

main {
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.img__container {
    max-height: 400px;
}

.img__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .7rem;
}

.intro h1 {
    color: var(--clr-dark-brown);
    font-size: 1.8rem;
}

.intro p {
    font-size: 1.2rem;
    font-weight: 400;
}

.intro button {
    align-self: center;
    background-color: var(--clr-blue);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    padding-block: .3rem;
    padding-inline: .8rem;
    color: var(--clr-white);
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
}

.results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.results ul {
    padding-left: 16px;
}

.small-details h3 {
    font-weight: 500;
    /* font-size: 0.9rem; */
    /* display: none; */
}

.small-details h5 span {
    font-weight: 300;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left ul li {
    font-weight: 300;
}

.results h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.right h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.right p {
    font-weight: 400;
}

@media(min-width:780px) {
    .img__container {
        height: auto;
        max-height: unset;
    }

    .results {
        grid-template-columns: 1fr 1.5fr;
    }
}